
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #7fb4ff; 
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  width: 100vw;             
  background-color: #7fb4ff; 
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


textarea {
  width: 60%;
  height: 120px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 1.1rem;
  resize: none;
  outline: none;
  background-color: #a7bca2;
  color: #fff;
  margin-top: 20px;
}


.output {
  margin-top: 20px;
  background-color: #213547;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
}

.user-text {
  color: #b5d2a7;
  font-weight: 600;
}

.ai-text {
  color: #fff;
  font-weight: 700;
}

.loading {
  color: #fff;
  margin-top: 10px;
}
